@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Monty Hall Show</h1>
    <p><a asp-area="" asp-page="/MontyHallGame">Click here to Play Game</a></p>
</div>
